<div >
  

<!-- /////// Work Start Button ///////  -->

  <a class='button-large work-start' 
     ng-click='TimeKeeper()' ng-show="workTimerVisible">

      {{ workStartButton }}

  </a>




<!-- /////// Break Start Button ///////  -->

  <a class='button-large break-start'
    ng-click='BreakTimeKeeper()' ng-show="breakTimerVisible"
    >

    {{ breakStartButton }}

  </a>

  <a class='button-large reset'
    ng-click='loopReset()' ng-show="loopResetVisible"
    >

    {{ loopResetButton }}

  </a>




</div>