@import colors

body
  background-color: $background1

h1
  text-align: center
  size: 42px
  color: white

h2
  color: white
  text-align: center

.nav
  position: fixed
  top: 0
  background-color: $nav
  height: 200px
  width: 100px
