@import colors
@import checkbox

body
  background-color: $red

h1
  font-family: $h1
  text-align: center
  color: $yellow
  font-weight: 500
  font-size: 160px

h2
  font-family: $h2
  color: $yellow

h3
  font-family: $h2
  font-size: 1.2em
  color: $yellow
  text-align: center

p
  font-family: $h2
  color: #262626
  font-size: 1.15em
  letter-spacing: .01em
  padding: 20px

button
  border: none

form,
input
  margin: 0



.button-large, 
  text-decoration: none
  float: left
  width: 300px
  height: 150px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: $yellow
  color: $red
  font-family: $h1
  font-weight: 400
  font-size: 2em
  letter-spacing: 2px
  border: solid 3px $red

  &:hover
    text-decoration: none
    color: $dark-red
    background-color: $highlight-yellow
    cursor: pointer

  &:visited
    text-decoration: none
    color: $red

  &:active
    text-decoration: none
    text-decoration-style: none

.button-small
  width: 75px
  height: 75px
  float: right
  flex-direction: column
  align-items: center
  justify-content: center
  text-decoration: none
  display: inline
  text-decoration: none
  background-color: $yellow
  font-family: $h1
  font-weight: 400
  font-size: 1.5em
  color: $red
  letter-spacing: 2px
  padding: 7px
  margin: 15px

  &:hover
    text-decoration: none
    color: $dark-red
    background-color: white
    cursor: pointer

  &:visited
    text-decoration: none
    color: $red

  &:active
    text-decoration: none
    text-decoration-style: none


.main-nav
  top: 0
  background-color: $yellow
  height: 86px
  margin: 0
  padding: 0
  border: none

  ul
    height: 100%
    left: 20px

  li
    padding: 0
    margin: 0 auto
    border: 0

    a
      text-decoration: none
      font-family: $h1
      font-weight: 500
      text-transform: uppercase
      text-align: center
      font-size: 1.2em
      letter-spacing: 2px
      color: $red
      padding: 27px
      border-top: 6px solid $yellow
      border-bottom: 6px solid $yellow
      
      &:hover
        text-decoration: none 
        color: $dark-red
        border-top: 6px solid $dark-red
        background-color: $highlight-yellow

      &:active
        text-decoration: none
        border-top: 6px solid $dark-red

      &:visited
        text-decoration: none
        background-color: $yellow



  .home
    font-weight: 500
    font-size: 50px
      
#home
  height: 94vh
  display: flex
  flex-direction: column
  align-items: center 
  text-align: center

  .hero
    background-image: url('../app/images/tomato.png')
    z-index: 999
    border: solid 4px $yellow
    padding: 2%
    padding-bottom: 2%
    margin-top: 8%
    margin-bottom: 4%

    a
      color: $red
      text-decoration: none
      text-transform: none
      color: inherit

      &:hover
        text-decoration: none 
        color: $dark-red

    h2
      padding-bottom: 80px


#about-section
  width: 100%
  height: 100vh

  #about-body
    height: 1600px
    background-color: white
    
    .about
      display: flex
      flex-direction: column
      align-items: center 
      text-align: center
    
      .about-hero
        border: solid 4px $yellow
        margin: 5% 
        width: 700  

        h2
          font-size: 30px
          padding-bottom: 0
          margin-bottom: 0

        h3
          font-size: 3em
          padding: 30px

      .info
        max-width: 670px
        display: flex
        text-align: justify

      .text-box
        margin-bottom: 15px

      .text-box-4
        margin-bottom: 100px

#work-timer-body
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center 
  text-align: center

  h1
    font-size: 20em
    padding: 7%

  h2
    font-family: $h1
    color: $red
    padding: 15px



#task-list
  height: 800px
  width: 400px
  margin: 30px
  background: $highlight-yellow
  float: left
  flex-direction: column
  align-items: center 
  text-align: left
  position: relative

  h1
    font-size: 3.5em
    letter-spacing: 5px
    color: $red
    padding-bottom: 10px

  .task-input
    background-color: $yellow
    outline: none
    border: 0px solid
    height: 70px
    width: 100%
    padding: 25px
    font-family: $h1
    font-size: 2em
    color: $dark-red
    border-bottom: 2px solid $highlight-yellow

  .clear-completed
    width: 200px
    font-size: 1em
    text-align: center
    padding: 26px
    position: absolute
    bottom: 15px
    right: 15px
    margin: 0

.glyphicon-plus
  font-size: 4em

.done
  text-decoration: line-through
  color: whitesmoke








