

<div class='about row'> 
   <div class='container'>
    <h1> About the Pomodoro Technique </h1>
     
    <h2>1. WORK WITH TIME - NOT AGAINST IT

    <p>For many people, time is an enemy. We race against the clock to finish assignments and meet deadlines. The Pomodoro Technique teaches you to work with time, instead of struggling against it. A revolutionary time management system, it is at once deceptively simple to learn and life-changing to use.</p>


    <h2>2. ELIMINATE BURNOUT</h2>

    <p>Essential to the Pomodoro Technique is the notion that taking short, scheduled breaks while working eliminates the “running on fumes” feeling you get when you’ve pushed yourself too hard. It’s impossible to over work when you stick to the system. You may end up taking fewer sick days, too!</p>


    <h2>3. MANAGE DISTRACTIONS</h2>

    <p>Whether it’s a call, a Facebook message, or suddenly realizing you need to change the oil in your car, many distracting thoughts and events come up when you’re at work. The Pomodoro Technique will help you log your distractions and order them according to priority levels. Often, they can wait.</p>


    <h2>4. CREATE A BETTER WORK / LIFE BALANCE</h2>

    <p> Most of us are intimately acquainted with the guilt that comes from procrastinating. If we haven’t had a productive day, it’s pretty easy to end up feeling like we can’t enjoy our free time. Becoming a Pomodoro Master involves creating an effective timetable, allowing you to truly enjoy your time off.</p>


   </div>
 </div>